body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: right;
  }
  
  .logo-container img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .social-icons img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-container {
    text-align: center;
    max-width: 600px; /* Adjust the width as needed */
  }
  
  /* Add more styles as needed */
  